/* Top Header nav bar */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .top-bar .home {
    width: 85%;
  }
  
  .top-bar .login-btn {
    width: 5%;
  }
  
  .top-bar .home a {
    background: var(--primary-color);
    width: 100%;
    justify-self: flex-start;
    font-size: 2rem;
    color: white;
    padding: 10px 30px;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .title {
    margin-top: 130px;
    padding: 0 15%;
  }
  
  .title h1 {
    margin-bottom: 15px;
  }